<div>
  <input type="text" [(ngModel)]="itemToAdd" /> <input class="btn" type="button"
  [ngClass]="{'btn-primary': itemToAdd  !== '', 'btn-default': itemToAdd === '' }"
  value="Add Item"
  (click)="onAddItemClicked();">
  <p *ngIf="itemToAdd === ''">Please enter a value!</p>
</div>
<hr/>
  <ul class="list-group">
      <li
      class="list-group-item"
      *ngFor="let item of Items; let i = index"
      [ngStyle]="{backgroundColor: i % 2 === 0 ? 'yellow' : 'blue'}">
        {{item}}
      </li>
  </ul>


