<form>
  <div class="form-group">
    <label for="name">Character Name</label>
    <input type="text" id="name" name="name" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select name="side" id="side" class="form-control">
      <option *ngFor="let side of availibleSides" [value]="side.value">
        {{side.display}}
      </option>
    </select>
    <div class="form-group" style="padding: 0.1cm" >
      <button class="btn btn-primary" type="submit">Add Character</button>
    </div>
  </div>
</form>
